<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    footer {
      /* position: fixed; */
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 12px; /* Adjust the font size as needed */
      padding: 20px 0; /* Optional: Add padding for better visibility */
    }
     .footer-line {
      width: 70%; 
      margin: 0 auto; 
      border-top: 1px solid #ccc; 
      margin-bottom: 20px; 
    } 
  </style>
</head>
<body>
<footer>
  <div class="footer-line"></div> 

  <!-- Footer content goes here -->
  <p>Class project 'Ecoguardian' from UVA CS3240 Spring 2024 group A-12. The system is not monitored, and no real information should be submitted.</p>
</footer>